{% extends "common/page_base.html" %} {# common/page_base.html extends layout.html #}

{% block content %}

<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle waves-effect waves-dark" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand waves-effect waves-dark" href="index.html">
                <i class="large material-icons">
                    insert_chart
                </i>
                <strong>
                	MY TRASH
                </strong>
            </a>
            <div href="" id="sideNav">
                <i class="material-icons dp48">
                    toc
                </i>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a class="dropdown-button waves-effect waves-dark" data-activates="dropdown1" href="#!">
                    <i class="fa fa-user fa-fw">
                    </i>
                    <b>
                        Neil Patil
                    </b>
                    <i class="material-icons right">
                        arrow_drop_down
                    </i>
                </a>
            </li>
        </ul>
    </nav>
    <!-- Dropdown Structure -->
    <ul class="dropdown-content" id="dropdown1">
        <!--<li>
            <a href="#">
                <i class="fa fa-user fa-fw">
                </i>
                My Profile
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-gear fa-fw">
                </i>
                Settings
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-sign-out fa-fw">
                </i>
                Logout
            </a>
        </li>-->
    </ul>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a class="active-menu waves-effect waves-dark" href="index.html">
                        <i class="fa fa-dashboard">
                        </i>
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Dashboard
            </h1>
        </div>
        <div id="page-inner">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image orange">
                            <i class="fa fa-trash fa-5x">
                            </i>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>
                                	{{ data.numItems }}
                                </h3>
                            </div>
                            <div class="card-action">
                                <h5>
	                                <strong>
	                                	Items Thrown
	                                </strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image green">
                            <i class="fa fa-recycle fa-5x">
                            </i>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>
                                	{{ data.numRecycle }}
                                </h3>
                            </div>
                            <div class="card-action">
                                <h5>
	                                <strong>
	                                	Items Recycled
	                                </strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card horizontal cardIcon waves-effect waves-dark">
                        <div class="card-image red">
                            <i class="fa fa-fire fa-5x">
                            </i>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h3>
                                	{{ data.numTrash }}
                                </h3>
                            </div>
                            <div class="card-action">
                            	<h5>
	                                <strong>
	                                	Items Trashed
	                                </strong>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-image">
                            <div id="morris-donut-chart">
                            </div>
                        </div>
                        <div class="card-action">
                            <h5>
                                What You Recycle
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="card-panel text-center">
                        <h4>
                        	Recycling Goal
                        </h4>
                        <div class="easypiechart" data-percent="6" id="easypiechart-blue">
                            <span class="percent">
                            6%
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<script>
var percentages = {{ data.percentages|tojson }};

data = []
for (var key in percentages) {
    data.push({
        label: key,
        value: percentages[key],
    })
}
console.log(data);

Morris.Donut({
    element: 'morris-donut-chart',
    data: data,
    formatter: function (value, data) { return (value*100).toFixed(1) + '%'; },
    resize: true
});

</script>

{% endblock %}