<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- These 3 meta tags MUST come first -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>MyTrash</title>

        <!-- Bootstrap CSS and JS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.min.css"/>

        <!-- Application specific CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='materialize/css/materialize.min.css') }}" media="screen,projection" />
        <!-- Bootstrap Styles-->
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
        <!-- FontAwesome Styles-->
        <link href="{{ url_for('static', filename='css/font-awesome.css') }}" rel="stylesheet">
        <!-- Morris Chart Styles-->
        <link href="{{ url_for('static', filename='js/morris/morris-0.4.3.min.css') }}" rel="stylesheet">
        <!-- Custom Styles-->
        <link href="{{ url_for('static', filename='css/custom-styles.css') }}" rel="stylesheet">
        <!-- Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='js/Lightweight-Chart/cssCharts.css') }}"> 
    </head>
    <body>
        {% block body %}
        <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
        <script src="https://cdn.jsdelivr.net/hogan.js/3.0.2/hogan.min.common.js"></script>

        <div id="main-div" class="with-margins">
        {% block content %}{% endblock %}
        </div>

        <br/>

        <script src="{{ url_for('static', filename='js/jquery-1.10.2.js') }}"></script>
    
        <!-- Bootstrap Js -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        
        <script src="{{ url_for('static', filename='materialize/js/materialize.min.js') }}"></script>
        
        <!-- Metis Menu Js -->
        <script src="{{ url_for('static', filename='js/jquery.metisMenu.js') }}"></script>
        <!-- Morris Chart Js -->
        <script src="{{ url_for('static', filename='js/morris/raphael-2.1.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/morris/morris.js') }}"></script>
        
        
        <script src="{{ url_for('static', filename='js/easypiechart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/easypiechart-data.js') }}"></script>
        
         <script src="{{ url_for('static', filename='js/Lightweight-Chart/jquery.chart.js') }}"></script>
        
        <!-- Custom Js -->
        <script src="{{ url_for('static', filename='js/custom-scripts.js') }}"></script> 
        {% endblock %}
    </body>
</html>
